.vs/MinimalAPIs/DesignTimeBuild
.vs/MinimalAPIs/v17
MinimalAPI/bin
MinimalAPI/obj
MinimalAPISample/obj
MinimalAPITweaked/bin
MinimalAPITweaked/obj
PerformanceComparison/bin
RegularAPINET5/bin
RegularAPINET6/bin
RegularAPINET6/obj
PerformanceComparison/obj
RegularAPINET5/obj
.vs/MinimalAPIs/v16
HelloWorldNET5/obj
HelloWorldNET5/bin
MinimalAPISample/bin
PerformanceComparison/reports
